body {
	background-color: #FCFCFC;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
	color: #00B27F;
}

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	text-align: center;
	background: url(http://www.pascalegourdeau.com/me.png) no-repeat;
}