body {
	background-color: #FCFCFC;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
}

p {
	color: #00B27F;
}

hr {
	color: #00B27F; 
}

a {
	color: #00B27F;
}
 /* unvisited link */
a:link {
	color:#00B27F;
}     

/* visited link */
a:visited {
	color:#00B27F;
} 

/* mouse over link */
a:hover {
	color:#FF3800;
}  

/* selected link */ 
a:active {
	color:#FF3800;
}  

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	margin-left:auto;
	margin-right:auto;
	background: url(http://www.pascalegourdeau.com/me.png) no-repeat;
}

.menu {
	font-size: 16px;
	font-weight: bold;
}