body {
	background-color: #FCFCFC;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
	color: #00B27F;
}

.circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	
	background: url(http://www.pascalegourdeau.com/me.png) no-repeat;
}